.fade-out {
  &-enter-active,
  &-leave-active {
    transition: all .5s;
  }
  &-enter,
  &-leave-active {
    opacity: 0;
  }
  &-enter {
    transform: translateX(31px);
  }
  &-leave-active {
    transform: translateX(-31px);
  }
}

.bounce {
  &-enter-active {
    animation: bounce-in .5s;
  }
  &-leave-active {
    animation: bounce-in .5s reverse;
  }
}

@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.flip-list {
  &-enter-active,
  &-leave-active {
    transition: all 1s;
  }
  &-enter,
  &-leave-to {
    opacity: 0;
    transform: translateX(30px);
  }
}
.move-list {
  &-leave-active {
    position: absolute;
  }
  &-move {
    transition: all 2s;
  }
}
.list-complete {
  &-enter,
  &-leave-to {
    opacity: 0;
    transform: translateX(-30px);
  }
  &-leave-active {
    position: absolute;
  }
}

.list {
  &-enter-active,
  &-leave-active {
    transition: all 1s;
  }
  &-enter,
  &-leave-to {
    opacity: 0;
    transform: translateY(30px);
  }
}
