.item-box__header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h2 {
    margin: 0;
    padding: 0;
  }
}
.item-box__checkbox-group {

}
.item-box__container {

}

.item-box__wrapper {

}

.item-box__player {
  audio {
    width: 100%;
  }
}
