.item-box__header {
  display: flex;
  justify-content: space-between;
}
.item-box__checkbox-group {

}
.item-box__container {

}

.item-box__wrapper {

}

.item-box__player {
  audio {
    width: 100%;
  }
}
